<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>822797541076-769ccdib56or6l8v53g9hmgfkd7pcqhr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.822797541076-769ccdib56or6l8v53g9hmgfkd7pcqhr</string>
	<key>API_KEY</key>
	<string>AIzaSyA57IDgVJjxFt031KQd-dIpA-cKVrDPBSk</string>
	<key>GCM_SENDER_ID</key>
	<string>822797541076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flashchat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-61ffe</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-61ffe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:822797541076:ios:721c4cd05384cf446ce541</string>
</dict>
</plist>